<%- include("partials/header"); -%>


<h1>Home</h1>

<p><%= pOne %></p>

<!-- works just like the for loop  -->
<% postArray.forEach(function(post){ %>
<h1> <%= post.title %> </h1>
<p>
   <%= post.body.substring(0,100) + "..." %> 
    <!-- turnicating the string -->
  <a href="/post/<%= post.title %>">Read More</a> 
</p>

<% })  %>

<%- include("partials/footer"); -%>